<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Message</title>
</head>
<body>
  <form action="/http/upload/process" method="post" enctype="multipart/form-data">
    <label for="">The file :</label>
    <input type="file" name="file" id="file" required> <br>

    <label for="">Rename to :</label>
    <input type="text" name="alias" id="alias">

    <button type="submit">Submit</button>
  </form>
</body>
</html>
